<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DB</title>
  <link rel="stylesheet" href="static/index.css"> 
</head>
<body>
  
   <div class="flying-navigation-button">
        <div class="btn">
          <a href="{{url_for('home')}}">Home</a>
        </div> 
      </div>

  
  <div class="image-container">
    <img src='static/flaskstack.png' alt="flask">
  </div>

  <div class="table-wrapper">
  <table>
    <tr>
      <th>nomor</th>
      <th>nama</th>
      <th>harga</th>
      <th>Ubah</th>
      <th>Hapus</th>
    </tr>
    {% for tes in container%}
    <tr>
      <td>{{tes.nomor}}</td>
      <td>{{tes.nama}}</td>
      <td>{{tes.harga}}</td>
      <td><a href="{{url_for('ubah',id=tes.nomor)}}">Ubah</a></td>
      <td><a href="{{url_for('hapus',id=tes.nomor)}}">Hapus</a></td>
    </tr>
    {%endfor%}
  </table>
</div>
  <div class="button_navigation">
    <button>
      <a href="{{url_for('tambah')}}">Tambah</a>
    </button>
    <button>
      <a href="https://github.com/Raditya808/flask-crud-with-sqlite3-database-">About Dev</a>
    </button>
  </div>
  <footer>
    <p>Raditya 2026</p>
  </footer>
</body>
</html>
